
.css-cdi5lf-MuiTypography-root {   font-family: "Montserrat", sans-serif !important;}
header { padding: 16px;position: fixed;width: 100%;background: #f9faf5; z-index: 99;}
.logo { width:180px;height: auto;}
.logo img { width: 100%;height: auto;}
header h3 { color: #2B3B7B; font-weight: 600;}
.header-search { background: #ECECEC;width:383px;height:48px;padding:12px 16px 12px 16px;gap:8px;}
.btn-orange { height: 48px;background-color: #FA531C !important;padding:12px 16px 12px 16px !important; border:1px solid #FA531C !important;}
.sidebar-main { width: 240px;padding:0px 0px 16px 4px; border-radius:0 16px 0 0;height: 100vh;gap: 32px; margin-top: 105px;}
.sidebar-arrow { width: 32px;height:40px;border-radius: 0 16px 0 16px !important;
    background: #ECECEC !important;
    padding: 0 !important;
    position: absolute !important;
    right: 0;margin-right: 0 !important;}
.side-menubar { margin-top: 70px;}
.side-menubar-text{border-left: 6px solid #fff !important;
   font-size: 18px; font-weight: 500; line-height:21.94px;color: #919191;
   display: block; text-decoration: none;}
.side-menubar-text:hover, .side-menubar-text.active{ background:#A9ECFF !important;color:#2B3B7B; border-left: 6px solid #2D2D61 !important;}
.right-cont {margin-top: 19px; gap: 25px;flex:   auto;}
.right-cont .card { border-radius: 16px;}
.body-cont { padding: 35px;}
.bodycont-in { border-bottom: 1px solid #ddd;padding-bottom: 25px;margin-bottom: 23px;}
.bodycont-in h3{ font-size:32px; color:#2B3B7B; font-weight: 600;}
.btn-edit { background-color: #ECECEC !important; font-size: 20px !important;font-weight: 500 !important; border: 1px solid #ddd !important; border-radius: 6px !important;height: 49px;}
.summary-block, .todolist { margin-bottom: 48px;}
.head-text { color: #2B3B7B; font-size: 24px;font-weight: 600; margin-bottom: 16px;}
.summary-block-card { padding: 25px;}
.summary-txt strong { font-size: 24px; font-weight: 600; color: #000;}
.summary-txt span{color:#2D2D61; font-size: 18px; font-weight: 500;}
.summary-todo { padding: 12px 16px 12px 16px;}
.summary-ongoing { color: #FA531C; font-weight: 600;font-size: 14px; padding-bottom: 8px;}
.todo-head { color: #2D2D61; font-size: 20px; font-weight: 700;}
.todo-title { color: #515151; font-size: 16px;font-weight: 500;}
.todoupdate { font-size: 16px; color: #2D2D61;font-weight: 500;}
.summary-coming{ color:#6CB765;}
.graph-img img { width: 100%;height: auto;}

.css-12i7wg6-MuiPaper-root-MuiDrawer-paper {top: 105px !important; border-radius: 0 16px 0 0; border-top: 1px solid #ddd;}
.css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root.Mui-checked, .css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root.MuiCheckbox-indeterminate {     color: #fa531c !important;}
.date-block .MuiInputBase-input { padding: 13px 14px;}
.MuiStack-root { padding-top: 0px !important;}

.tab-text { font-size: 20px !important; text-transform: none !important;}
.css-1aquho2-MuiTabs-indicator {background-color: #2B3B7B !important;}
.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
    color: #2B3B7B !important;
}
.css-1yl09fs-MuiDataGrid-root {
    font-family: "Montserrat", sans-serif !important;
    font-size: 16px !important;
    color: #000 !important;
    font-weight: 500 !important;
}

.assessment-details-container {
    margin-top: 40px;
    padding-left: 230px; /* Adjust this value according to your sidebar width */
    transition: padding-left 0.3s ease; /* Add transition for smooth animation */
}

.sidebar-closed {
    padding-left: 50px; /* Adjust padding for closed sidebar */
}
.MuiOutlinedInput-notchedOutline { border: none !important;}
.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {    padding: 12px 14px !important;}
.dropdown-bg {background-color: #ECECEC !important; border-radius: 16px !important;}
.pinkbg{background-color: #FFCBCB;padding:4px 16px 4px 16px; border-radius: 10px;}
.plusbg {     padding: 14px 6px;}
.tasktext { color: #2B3B7B; font-size: 16px; font-weight: 600;}
.btnsuccess { background-color: #6CB765 !important;padding:8px 32px 8px 32px !important; border-radius: 32px !important; width: 100%; font-size:20px !important; color: #fff !important;}
.listrow { font-size: 16px;color: #000;border-bottom: 1px solid #ddd; padding-bottom: 10px; text-align: left;padding-left: 10px; margin-left: 10px;margin-bottom: 10px;}
.leftbarschedule { width: 20%;margin-left: 10px}
.rightbarschedule { width: 80%;margin-right: 10px}
.switch-page { border-radius: 50px;background-color: #919191; padding: 3px 11px;}
.switch-page-text { font-size: 14px; color: #ffffff; display: flex; align-items: center;}
.switch-page-text.active { background-color: #FA531C;border-radius: 50px; padding: 3px 8px; }
.switch-main {position: absolute;right: 0; left: 0; width: 160px !important; margin: 0 auto;top: 28px;}


.ticket_bg{
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    width:60px;
    height:60px; 
    border-radius:8px;
    background-color: #eae8fd;
    padding: 5px;

}
.thumb_bg{
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    width:60px;
    height:60px; 
    border-radius:8px;
    background-color:#dff7ea;
    padding: 5px;
}
.List_bg{
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    width:60px;
    height:60px; 
    border-radius:8px;
    background-color:#fce6e6;
    padding: 5px;
}

.star {
    color: red;
    position: relative;
    font-size: 20px;
}
.text_color {
    color: #212529;
    font-size: 16px;
    font-weight: 500;
}
.css-ipke9l-MuiButtonBase-root-MuiListItemButton-root.Mui-selected{
    background:#A9ECFF !important;color:#2B3B7B; border-left: 6px solid #2D2D61 !important;
}



/* IncidentResolve */
.detail-list label{ color: #000; font-weight: 500;width: 30%; }
.detail-list span { color: #717171;}
.detail-doc { background-color: #f0f4f7; border: 1px solid #ddd;}
.detail-doc-icon { border-right: 1px solid #ddd; padding: 20px;}
.blue { color: #7b39f1;}
.blue-bg { background-color: #7b39f1;}
.btn-blue { background-color: #7b39f1; padding: 12px 16px 12px 16px;    height: 48px;}
.btn-close { position: relative;top: -28px; right: -17px; font-size: 11px;}
.MuiDrawer-root .MuiDrawer-docked .css-4gciz5-MuiDrawer-docked {z-index: 1;}
.date-bg input {padding: 6px 8px;}
.riskrating .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {padding: 4px 0 5px; }

